<table class="table js-marketsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Currency</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each itemController="market"}}
          <tr>
              <td>{{ name }}</td>
              <td>{{ location.name }}</td>
              <td>{{ currency.name }}</td>
              <td>{{ start_date }}</td>
              <td>{{ end_date }}</td>
              <td><a class="js-edit btn btn-default btn-xs" data-id="{{ id }}" href="#"><span class="glyphicon glyphicon-edit"></span></a> <a class="js-delete btn btn-default btn-xs" data-id="{{ id }}" {{ action "removeMarket" }} href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        {{/each}}
    </tbody>
</table>

{{ totalMarkets }}